@{
    ViewData["Title"] = "Home Page";
}

<div class="positionDiv">
    <div style="font-size: 40px;">Word Counter</div>
    <div>Single page application to fetch words from an URL</div>
    <div style="font-weight: bold;">URL</div>


    <div style="padding: 10px;">
        <input id="inputUrl" type="text" name="SearchTerm" value="https://www.stuff.co.nz">
    </div>
    <div style="padding: 10px;">
        <button id="processUrl">Submit</button>
    </div>
    <div style="padding: 10px; width:100%; height: 500px" id="wordCloud">

    </div>
</div>